/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.result {
    height: 300px;
}

.logo {
    width: 75px;
}

#preview {
    font-size: 14px;
}

#urlFinal {
    font-weight: bold;
    height: 100%;
}

#result {
    color: limegreen;
    font-size: 12px;
    height: 100%;
    min-height: 400px;
}

.textInfo {
    font-size: 12px;
    color: gray;
    padding-bottom: 10px;
}

i {
    color: deeppink;
}

.footer {
    color: gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}










